[submodule "lib/node-jsdoc-toolkit"]
	path = lib/node-jsdoc-toolkit
	url = git://github.com/p120ph37/node-jsdoc-toolkit.git
[submodule "gh-pages"]
	path = gh-pages
	url = git@github.com:gigafied/f0xy.git
[submodule "test/qunit"]
	path = test/qunit
	url = git://github.com/jquery/qunit.git
